
/* MAQUETTE.PDF | LEGEND_COLOR ##################################################################################################################################### */

/* You have to uncomment this section (line 15 to 29), to see all the different colour borders on the HTML page.
The coloured borders represent all the blocks drawn on the model.
One colour = one specific layer/depth level & one specific indentation level.
The result must be identical.

.bd_black  = Layer_1 (L1/indentation n°0) + Layer_6 (L6/indentation n°5) + Layer_11 (L11/indentation n°10)
.bd_blue   = Layer_2 (L2/indentation n°1) + Layer_7 (L7/indentation n°6)
.bd_yellow = Layer_3 (L3/indentation n°2) + Layer_8 (L8/indentation n°7)
.bd_red    = Layer_4 (L4/indentation n°3) + Layer_9 (L9/indentation n°8)
.bd_green  = Layer_5 (L5/indentation n°4) + Layer_10 (L10/indentation n°9) */

// .bd_black {
//     border: 2px solid #000000
// }
// .bd_blue {
//     border: 2px solid #0077b6
// }
// .bd_yellow {
//     border: 2px solid #ffc300
// }
// .bd_red {
//     border: 2px solid #9d0208
// }
// .bd_green {
//     border: 2px solid #70e000
// }

/* GENERAL ######################################################################################################################################################### */

/* MIXINS ###################################################################### */

@mixin flex ($direct: null, $just: center, $align: center, $gap: null) {
    display: flex;
    flex-direction: $direct;
    justify-content: $just;
    align-items: $align;
    gap: $gap;
}

@mixin font ($size: null, $weight: null) {
    font-size: $size;
    font-weight: $weight;
}

@mixin absolute ($top: null, $right: null, $bott: null, $left: null) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bott;
    left: $left;
}

@mixin size ($width: null, $max: null, $height: null) {
    width: $width;
    max-width: $max;
    height: $height;
}

/* EXTENDS ##################################################################### */

%section-title {
    @include font($size: 24px, $weight: 700px);
}
%font-01 {
    @include font($size: 16px, $weight: 500px);
}
%button {
    @include size($height: 50px);
    color: white;
    border: none;
    border-radius: 25px;
    background: linear-gradient(to bottom, #FF79DA -11.44%, #9356DC 123.93%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
/* VARIABLES ################################################################### */

/* COLORS ############################ */

$color-01: #9356DC;
$color-02: #99E2D0;
$color-03: #353535;
$color-04: #F7F7F7;
$color-locate: #EAEAEA;
$color-icons: #7E7E7E;
$color-new: #008766;

/* FONTS ############################# */

$font-roboto: 'Roboto', sans-serif;
$font-shrikhand: 'Shrikhand', cursive;

/* FONTS ####################################################################### */

* {
    font-family: $font-roboto;
}
.footer-title {
    font-family: $font-shrikhand;
    @include font($size: 18px,$weight: 400);
}
.section-title {
    @extend %section-title;
}
.card-title {
    @include font($size: 18px,$weight: 700);
}
.plate-title {
    @include font($size: 18px,$weight: 500);
}
.card-subtitle {
    @include font($size: 17px,$weight: 300);
}
.font-01 {
    @extend %font-01;
}
.plate-price {
    @include font($size: 15.04px,$weight: 700);
}
.plate-subtitle {
    @include font($size: 15.04px,$weight: 300);
}
.txt-num {
    @include font($size: 14.18px,$weight: 500);
}
.txt-new {
    @include font($size: 14px,$weight: 500);
}

/* COMMON ###################################################################### */

* {
    margin: 0px;
}
body {
    @include flex($direct: column);
}
main {
    @include size($width: 100%, $max: 767.98px);
}
img {
    object-fit: cover;
}
a:any-link {
    display: contents;
    text-decoration: none;
    color: black;
  }

/* HEADER ########################################################################################################################################################## */

.main-header {
    @include flex;
    position: relative;
    @include size($width: 100%, $max: 767.98px, $height: 63px);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.main-header__div-arrow {
    @include flex;
    @include absolute($left: 17px);
    @include size($width: 30px, $height: 30px);
}
.main-header__arrow {
    @include font($size: 19.5px)
}
.main-header__title {
    font-family: $font-shrikhand;
    @include font($size: 30px,$weight: 400);
    margin: 14px 0px 5px 0px;
}

/* MAIN ############################################################################################################################################################ */

/* LOCATION #################################################################### */

.location {
    @include flex ($gap: 17px);
    @include size($height: 50px);
    color: $color-03;
    background: $color-locate;
}

/* INTRO ####################################################################### */

.intro {
    @include flex($direct: column);
    text-align: center;
    background: $color-04;
}
.intro__section-title {
    @extend %section-title;
    @include size($height: 68px);
    margin: 39.5px 58px 0px 42px;
}
.intro__txt-intro {
    @include font($size: 18px,$weight: 300);
    margin: 0px 26px 27px 34px;
}
.intro__button {
    @extend %button;
    @include size($width: 218px);
    margin: 0px 75px 57px 82px;
}

/* FUNCTION #################################################################### */

.function {
    @include flex($direct: column, $align: start, $gap: 26px);
    padding: 48px 20px 68px 20px;
}
.function__stickers {
    @include flex($direct: column, $align: null, $gap: 25px);
    @include size($width: 100%);
}
.function__sticker {
    @include flex;
    position: relative;
    @include size($height: 72.38px);
    background: $color-04;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    margin-left: 12.51px;
}
.function__round-num {
    @include flex;
    @include absolute($left: -12.51px);
    @include size($width: 24px, $height: 24px);
    color: white;
    background: $color-01;
    border-radius: 14px;
}
.function__icons {
    @include absolute($left: 34.5px);
    color: $color-icons;
}
.function__icons:hover {
    color: $color-01;
}
.function__stick-font01 {
    @extend %font-01;
    @include absolute($left: 73.49px);
}

/* RESTAURANTS ################################################################# */

.restaur {
    @include flex($direct: column, $align: start, $gap: 24px);
    padding: 54px 18px 66px 17px;
    background: $color-04;
}
.restaur__cards {
    @include flex($direct: column, $gap: 18px);
    @include size($width: 100%);
}
.restaur__card {
    @include flex($direct: column, $align: null);
    position: relative;
    @include size($width: 100%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 15px 15px;
}
.restaur__img {
    @include size($height: 174px);
    border-radius: 15px 15px 0px 0px;
}
.restaur__new {
    @include flex;
    @include absolute($top: 13px, $right: 12px);
    @include size($width: 80px, $height: 29px);
    color: $color-new;
    background: $color-02;
    border-radius: 2px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.restaur__content {
    @include flex($direct: column, $align: start, $gap: 5px);
    position: relative;
    @include size($height: 77px);
    padding-left: 13px;
}
.restaur__hearth {
    @include absolute($top: 23px, $right: 25px);
    @include font($size: 22px)
}

/* MENU-IMG ################################################################# */

.menu-img {
    @include size($height: 275px);
}
.menu-img__img {
    @include size($width: 100%, $height: 275px);
    z-index: 1;
}

/* MENU ######################################################################## */

.menu {
    @include flex($direct: column, $gap: 40px);
    position: relative;
    padding: 32px 13px 40px 13px;
    margin-top: -55px;
    background: $color-04;
    border-radius: 40px 40px 0px 0px;
    z-index: 2;
}
.menu__div-title {
    position: relative;
    @include size($width: 100%);
    margin-bottom: 2px;
}
.menu__restaur-title {
    font-family: $font-shrikhand;
    @include font($size: 28px,$weight: 400);
    margin: 0px 4px;
    @include size($height: 27px);
}
.menu__hearth {
    @include absolute($top: 8px, $right: 24px);
    @include font($size: 22px)
}
.menu__stickers {
    @include flex($direct: column, $align: start, $gap: 12px);
    @include size($width: 100%);
}
.menu__stickers-title {
    @include font($size: 16px,$weight: 300);
    @include size($width: 40px, $height: 27px);
    border-bottom: 3px solid $color-02;
    box-sizing: border-box;
}
.menu__sticker {
    @include flex($just: space-between, $align: end);
    @include size($width: 100%);
    padding: 13.5px 15px;
    box-sizing: border-box;
    border-radius: 15.0431px;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    background: white;
}
.menu__plate {
    @include flex($direct: column, $align: start, $gap: 5px);
}
.menu__button {
    @extend %button;
    @include size($width: 186px);
}

/* FOOTER ########################################################################################################################################################## */

.main-footer {
    @include size($width: 100%, $max: 767.98px);
}
.main-footer__div {
    @include flex($direct: column, $align: start, $gap: 16px);
    padding: 22px 25px;
    color: white;
    background: $color-03;
}
.main-footer__ul {
    @include flex($direct: column, $align: start, $gap: 7px);
    padding-left: 0px;
    list-style-type: none;
}
.main-footer__li-icons {
    position: relative;
}
.main-footer__cutlery {
    @include font($size: 13px);
    vertical-align: middle;
}
.main-footer__hand {
    @include size($width: 11.92px, $height: 13px);
    vertical-align: middle;
}
.main-footer__li-icons-span { 
    @include absolute($left: 22px);
    white-space: nowrap;
}
.main-footer__mail:any-link {
    display: contents;
    text-decoration: none;
    color: white;
  }

/* RESPONSIVE_DESIGN | MEDIA_QUERIES ################################################################################################################################*/

/* NORMAL_DEVICES (TABLETS, LESS/EQUAL THAN 1440px) ############################ */

@media (max-width: 1440px) {

}

/* MEDIUM_DEVICES (TABLETS, LESS/EQUAL THAN 1024px) ############################ */

@media (max-width: 1024px) {

}

/* SMALL_DEVICES (PHONES, LESS/EQUAL THAN 768px) ############################### */

@media (max-width: 767.98px) {

}

/* NOTES ########################################################################################################################################################### */

/* FONTS ####################################################################### */

/* "Shrikhand" font :
- font-size: 30px + font-weight: 400;
    > X1 element style | Existing class NO_to be create = main-header__title
- font-size: 28px + font-weight: 400;
    > X1 element style | Existing class NO_to be create = menu__restaur-title
- font-size: 18px + font-weight: 400;
    > X1 element style | Existing class NO_to be create = footer-title


"Roboto" font :
- font-size: 24px + font-weight: 700;
    > X2 elements style | Existing class NO_to be create = %section-title
- font-size: 18px + font-weight: 700;
    > X1 element style | Existing class NO_to be create = card-title
- font-size: 18px + font-weight: 500;
    > X1 element style | Existing class NO_to be create = plate-title
- font-size: 18px + font-weight: 300;
    > X1 element style | Existing class NO_to be create = intro__txt-intro
- font-size: 17px + font-weight: 300;
    > X1 element style | Existing class NO_to be create = card-subtitle
- font-size: 16px + font-weight: 500;
    > X4 elements style | Existing class NO_to be create = %font-01
    > (h2 default is 24px + font-weight: 700)
- font-size: 16px + font-weight: 400;
    > X? elements style | Existing class NO, no need, because this is the default configuration of the browser.
- font-size: 16px + font-weight: 300;
    > X1 element style | Existing class NO_to be create = menu__stickers-title
- font-size: 15.04px + font-weight: 700;
    > X1 element style | Existing class NO_to be create = plate-price
- font-size: 15.04px + font-weight: 300;
    > X1 element style | Existing class NO_to be create = plate-subtitle
- font-size: 14.18px + font-weight: 500;
    > X1 element style | Existing class NO_to be create = txt-num
- font-size: 14px + font-weight: 500;
    > X1 element style | Existing class NO_to be create = txt-new

Remaining :
- font-size: 40px + font-weight: 700;
    > X? elements style | Existing class NO_to be create = ?

On an imported font, to be able to apply a {font-weight: 700} for example and have it work,
you must also import the font style corresponding to the font-weight at 700, otherwise it will not work and no difference will be visible.
-----------------------------------------------------------
Generally, the default browser font size is 16px, with a font-weight of 400.
-----------------------------------------------------------
By default, an h* title is automatically assigned a size in pixels, depending on its title level (h1,h2,h3 etc) and
an automatic font-weight of 700 (Bold), whatever its title level. */