@charset "UTF-8";
/* MAQUETTE.PDF | LEGEND_COLOR ##################################################################################################################################### */
/* You have to uncomment this section (line 15 to 29), to see all the different colour borders on the HTML page.
The coloured borders represent all the blocks drawn on the model.
One colour = one specific layer/depth level & one specific indentation level.
The result must be identical.

.bd_black  = Layer_1 (L1/indentation n°0) + Layer_6 (L6/indentation n°5) + Layer_11 (L11/indentation n°10)
.bd_blue   = Layer_2 (L2/indentation n°1) + Layer_7 (L7/indentation n°6)
.bd_yellow = Layer_3 (L3/indentation n°2) + Layer_8 (L8/indentation n°7)
.bd_red    = Layer_4 (L4/indentation n°3) + Layer_9 (L9/indentation n°8)
.bd_green  = Layer_5 (L5/indentation n°4) + Layer_10 (L10/indentation n°9) */
/* GENERAL ######################################################################################################################################################### */
/* MIXINS ###################################################################### */
/* EXTENDS ##################################################################### */
.intro__section-title, .section-title {
  font-size: 24px;
  font-weight: 700px;
}

.function__stick-font01, .font-01 {
  font-size: 16px;
  font-weight: 500px;
}

.menu__button, .intro__button {
  height: 50px;
  color: white;
  border: none;
  border-radius: 25px;
  background: linear-gradient(to bottom, #FF79DA -11.44%, #9356DC 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

/* VARIABLES ################################################################### */
/* COLORS ############################ */
/* FONTS ############################# */
/* FONTS ####################################################################### */
* {
  font-family: "Roboto", sans-serif;
}

.footer-title {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  font-weight: 400;
}

.card-title {
  font-size: 18px;
  font-weight: 700;
}

.plate-title {
  font-size: 18px;
  font-weight: 500;
}

.card-subtitle {
  font-size: 17px;
  font-weight: 300;
}

.plate-price {
  font-size: 15.04px;
  font-weight: 700;
}

.plate-subtitle {
  font-size: 15.04px;
  font-weight: 300;
}

.txt-num {
  font-size: 14.18px;
  font-weight: 500;
}

.txt-new {
  font-size: 14px;
  font-weight: 500;
}

/* COMMON ###################################################################### */
* {
  margin: 0px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  max-width: 767.98px;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

a:-moz-any-link {
  display: contents;
  text-decoration: none;
  color: black;
}

a:any-link {
  display: contents;
  text-decoration: none;
  color: black;
}

/* HEADER ########################################################################################################################################################## */
.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 767.98px;
  height: 63px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.main-header__div-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 17px;
  width: 30px;
  height: 30px;
}

.main-header__arrow {
  font-size: 19.5px;
}

.main-header__title {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  font-weight: 400;
  margin: 14px 0px 5px 0px;
}

/* MAIN ############################################################################################################################################################ */
/* LOCATION #################################################################### */
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  height: 50px;
  color: #353535;
  background: #EAEAEA;
}

/* INTRO ####################################################################### */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #F7F7F7;
}

.intro__section-title {
  height: 68px;
  margin: 39.5px 58px 0px 42px;
}

.intro__txt-intro {
  font-size: 18px;
  font-weight: 300;
  margin: 0px 26px 27px 34px;
}

.intro__button {
  width: 218px;
  margin: 0px 75px 57px 82px;
}

/* FUNCTION #################################################################### */
.function {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 26px;
  padding: 48px 20px 68px 20px;
}

.function__stickers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  width: 100%;
}

.function__sticker {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 72.38px;
  background: #F7F7F7;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  margin-left: 12.51px;
}

.function__round-num {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -12.51px;
  width: 24px;
  height: 24px;
  color: white;
  background: #9356DC;
  border-radius: 14px;
}

.function__icons {
  position: absolute;
  left: 34.5px;
  color: #7E7E7E;
}

.function__icons:hover {
  color: #9356DC;
}

.function__stick-font01 {
  position: absolute;
  left: 73.49px;
}

/* RESTAURANTS ################################################################# */
.restaur {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 24px;
  padding: 54px 18px 66px 17px;
  background: #F7F7F7;
}

.restaur__cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  width: 100%;
}

.restaur__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 15px 15px;
}

.restaur__img {
  height: 174px;
  border-radius: 15px 15px 0px 0px;
}

.restaur__new {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 13px;
  right: 12px;
  width: 80px;
  height: 29px;
  color: #008766;
  background: #99E2D0;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.restaur__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 5px;
  position: relative;
  height: 77px;
  padding-left: 13px;
}

.restaur__hearth {
  position: absolute;
  top: 23px;
  right: 25px;
  font-size: 22px;
}

/* MENU-IMG ################################################################# */
.menu-img {
  height: 275px;
}

.menu-img__img {
  width: 100%;
  height: 275px;
  z-index: 1;
}

/* MENU ######################################################################## */
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  position: relative;
  padding: 32px 13px 40px 13px;
  margin-top: -55px;
  background: #F7F7F7;
  border-radius: 40px 40px 0px 0px;
  z-index: 2;
}

.menu__div-title {
  position: relative;
  width: 100%;
  margin-bottom: 2px;
}

.menu__restaur-title {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  font-weight: 400;
  margin: 0px 4px;
  height: 27px;
}

.menu__hearth {
  position: absolute;
  top: 8px;
  right: 24px;
  font-size: 22px;
}

.menu__stickers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 12px;
  width: 100%;
}

.menu__stickers-title {
  font-size: 16px;
  font-weight: 300;
  width: 40px;
  height: 27px;
  border-bottom: 3px solid #99E2D0;
  box-sizing: border-box;
}

.menu__sticker {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  padding: 13.5px 15px;
  box-sizing: border-box;
  border-radius: 15.0431px;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  background: white;
}

.menu__plate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 5px;
}

.menu__button {
  width: 186px;
}

/* FOOTER ########################################################################################################################################################## */
.main-footer {
  width: 100%;
  max-width: 767.98px;
}

.main-footer__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 16px;
  padding: 22px 25px;
  color: white;
  background: #353535;
}

.main-footer__ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 7px;
  padding-left: 0px;
  list-style-type: none;
}

.main-footer__li-icons {
  position: relative;
}

.main-footer__cutlery {
  font-size: 13px;
  vertical-align: middle;
}

.main-footer__hand {
  width: 11.92px;
  height: 13px;
  vertical-align: middle;
}

.main-footer__li-icons-span {
  position: absolute;
  left: 22px;
  white-space: nowrap;
}

.main-footer__mail:-moz-any-link {
  display: contents;
  text-decoration: none;
  color: white;
}

.main-footer__mail:any-link {
  display: contents;
  text-decoration: none;
  color: white;
}

/* RESPONSIVE_DESIGN | MEDIA_QUERIES ################################################################################################################################*/
/* NORMAL_DEVICES (TABLETS, LESS/EQUAL THAN 1440px) ############################ */
/* MEDIUM_DEVICES (TABLETS, LESS/EQUAL THAN 1024px) ############################ */
/* SMALL_DEVICES (PHONES, LESS/EQUAL THAN 768px) ############################### */
/* NOTES ########################################################################################################################################################### */
/* FONTS ####################################################################### */
/* "Shrikhand" font :
- font-size: 30px + font-weight: 400;
    > X1 element style | Existing class NO_to be create = main-header__title
- font-size: 28px + font-weight: 400;
    > X1 element style | Existing class NO_to be create = menu__restaur-title
- font-size: 18px + font-weight: 400;
    > X1 element style | Existing class NO_to be create = footer-title


"Roboto" font :
- font-size: 24px + font-weight: 700;
    > X2 elements style | Existing class NO_to be create = %section-title
- font-size: 18px + font-weight: 700;
    > X1 element style | Existing class NO_to be create = card-title
- font-size: 18px + font-weight: 500;
    > X1 element style | Existing class NO_to be create = plate-title
- font-size: 18px + font-weight: 300;
    > X1 element style | Existing class NO_to be create = intro__txt-intro
- font-size: 17px + font-weight: 300;
    > X1 element style | Existing class NO_to be create = card-subtitle
- font-size: 16px + font-weight: 500;
    > X4 elements style | Existing class NO_to be create = %font-01
    > (h2 default is 24px + font-weight: 700)
- font-size: 16px + font-weight: 400;
    > X? elements style | Existing class NO, no need, because this is the default configuration of the browser.
- font-size: 16px + font-weight: 300;
    > X1 element style | Existing class NO_to be create = menu__stickers-title
- font-size: 15.04px + font-weight: 700;
    > X1 element style | Existing class NO_to be create = plate-price
- font-size: 15.04px + font-weight: 300;
    > X1 element style | Existing class NO_to be create = plate-subtitle
- font-size: 14.18px + font-weight: 500;
    > X1 element style | Existing class NO_to be create = txt-num
- font-size: 14px + font-weight: 500;
    > X1 element style | Existing class NO_to be create = txt-new

Remaining :
- font-size: 40px + font-weight: 700;
    > X? elements style | Existing class NO_to be create = ?

On an imported font, to be able to apply a {font-weight: 700} for example and have it work,
you must also import the font style corresponding to the font-weight at 700, otherwise it will not work and no difference will be visible.
-----------------------------------------------------------
Generally, the default browser font size is 16px, with a font-weight of 400.
-----------------------------------------------------------
By default, an h* title is automatically assigned a size in pixels, depending on its title level (h1,h2,h3 etc) and
an automatic font-weight of 700 (Bold), whatever its title level. *//*# sourceMappingURL=style_v2.2.css.map */